In [1]:
import requests

In [2]:
url = 'https://www.skysports.com/premier-league-table'

In [3]:
page = requests.get(url)

In [5]:
print(page)

<Response [200]>

In [48]:
#print(page.text)

In [7]:
from bs4 import BeautifulSoup

In [9]:
soup = BeautifulSoup(page.text,'html.parser')

In [47]:
#print(soup.prettify)

In [11]:
print(soup.pretiffy)

None

In [12]:
print(soup.find('a'))

<a class="svg-logo site-header__logo" href="https://www.skysports.com">
<img class="svg-logo__image" onerror="this.onerror=null;this.src='/core/img/channels/Sky-Sports-Logo.png'" src="/core/img/channels/Sky-Sports-Logo-transparent.svg"/>
</a>

In [46]:
#print(soup.find_all('a'))

In [14]:
soup.find_all('a')[1]

<a class="site-header__col site-header__col4 site-header__nav-button-hit-area" data-role="open-left-hand-nav" href="#no-js-nav" tabindex="1">
<svg class="site-header__nav-button" version="1.1" viewbox="0 0 2048 2048" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect height="256" width="2048" y="384"></rect>
<rect height="256" width="2048" y="896"></rect>
<rect height="256" width="2048" y="1408"></rect>
</svg>
</a>

In [15]:
league = soup.find('table', class_= 'standing-table__table')

In [45]:
#print(league)

In [17]:
league_table = league.find_all('tbody')

In [26]:
for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_='standing-table__cell standing-table__cell--name').text.strip()
    
        team_points = row.find_all('td', class_='standing-table__cell')[9].text.strip()
        print(team_names,team_points)

Leicester City 9
Everton 9
Arsenal 6
Liverpool 6
Crystal Palace 6
Leeds United 6
Tottenham Hotspur 4
Chelsea 4
Newcastle United 4
West Ham United 3
Aston Villa 3
Brighton and Hove Albion 3
Manchester City 3
Manchester United 3
Southampton 3
Wolverhampton Wanderers 3
West Bromwich Albion 1
Burnley 0
Fulham 0
Sheffield United 0

In [27]:
import pandas as pd

In [30]:
list = []
for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_='standing-table__cell standing-table__cell--name').text.strip()
    
        team_points = row.find_all('td', class_='standing-table__cell')[9].text.strip()
        list_dict = { 'Name' : team_names,
                    'Points': team_points}
        list.append(list_dict)

In [33]:
df = pd.DataFrame(list)

In [35]:
df

                        Name Points
0             Leicester City      9
1                    Everton      9
2                    Arsenal      6
3                  Liverpool      6
4             Crystal Palace      6
5               Leeds United      6
6          Tottenham Hotspur      4
7                    Chelsea      4
8           Newcastle United      4
9            West Ham United      3
10               Aston Villa      3
11  Brighton and Hove Albion      3
12           Manchester City      3
13         Manchester United      3
14               Southampton      3
15   Wolverhampton Wanderers      3
16      West Bromwich Albion      1
17                   Burnley      0
18                    Fulham      0
19          Sheffield United      0

In [42]:
data = df.to_csv('file_name.csv')