In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4'])

In [5]:
df.head()

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
r5  16  17  18  19

In [7]:
df.loc['r1']

c1    0
c2    1
c3    2
c4    3
Name: r1, dtype: int32

In [10]:
type(df.loc['r1'])

pandas.core.series.Series

In [11]:
df.iloc[:,1:]

    c2  c3  c4
r1   1   2   3
r2   5   6   7
r3   9  10  11
r4  13  14  15
r5  17  18  19

In [16]:
df.iloc[0:2,0:2]

    c1  c2
r1   0   1
r2   4   5

In [17]:
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [19]:
df.iloc[:,1:].values.reshape(3,5)

array([[ 1,  2,  3,  5,  6],
       [ 7,  9, 10, 11, 13],
       [14, 15, 17, 18, 19]])

In [20]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
dtype: int64

In [21]:
df['c1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: c1, dtype: int64

In [22]:
df['c1'].unique()

array([ 0,  4,  8, 12, 16])

In [25]:
df[['c2','c3']]

    c2  c3
r1   1   2
r2   5   6
r3   9  10
r4  13  14
r5  17  18